body{
    background-color:#d4e6fc ;
    margin: 0%;
    padding: 0%;
}
.header{
    height: 350px;
    background-image: url("img/header.png");
    background-size: 100%;
    background-position: center;
}


@media screen and (max-width: 750px){
height: 350px;
}