body{
    background-color: rgb(27, 27, 61);
    font-family:Arial, Helvetica, sans-serif ;
    align-content: center;
}
.container{
    width: 100%; 
    text-align: center;
}
img{
    width: 100%;
}
.servis{
    display: flex;   
    justify-content: space-evenly;
    color: white;
    text-align: left;
    max-width: 960px;
}
.servis img{
    width: 50px;
}
.servis1{
    text-align: center;
    margin: 20px;
}

#studen{
    color: grey;
}
#tekan{
    color: white;
}

.design{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.kotak{
    padding:10px;
    margin: 5px;
    width: 120px;
    background-color: rgb(255, 220, 0);
    border-radius: 10px;
    color: rgb(27, 27, 61);
    max-height: 300px;
}
#pilih1{
    background-color: rgb(255, 220, 0);
    padding: 10px;
    color: rgb(27, 27, 61);
}

.kotak2{
    padding:10px;
    margin: 10px;
    background-color: rgb(0, 140, 255);
    color: rgb(27, 27, 61);
    border-radius: 10px;
}
#pilih2{
    background-color: rgb(0, 140, 255);
    color: rgb(27, 27, 61);
}

.kotak3{
    padding:10px;
    margin: 10px;
    background-color: rgb(0, 190, 32);
    color: rgb(27, 27, 61);
    border-radius: 10px;
}
#pilih3{
    background-color: rgb(0, 190, 32);
    color: rgb(27, 27, 61);

}
.footer{
    background-color: rgb(26, 26, 26);
    overflow: hidden;
    color: white;
    padding: 20px 0 0 0;
    text-align: center;
    height: 50px;
    margin: 50px 0 0 0;
}

.beri{
    padding: 50px;
}
.kotak h3{
    font-size: 12px;
    font-weight: bolder;
    
}


h1{
    font-size: 30px;
    
}
#studen{
    margin: 50px;
}
.contact{
    color: white;
    background-image: url(img/backservis.png);
    background-size: cover;
    padding: 30px;
    color: white;
}

.info{
    display: flex; 
    justify-content: space-evenly;
    padding: 20px 50px 20px 50px;
    color: white;
    text-align: left;
    margin: 10px 50px 10px 50px;
}

.info img{
    width: 50px;
    padding: 20px;
}
#klik{
    color: white;
}