body{
    background-image: linear-gradient( to bottom right, black,black,purple);
    background-size: cover;
    font-family:Arial, Helvetica, sans-serif ;
    align-content: center;
    font-size: 16px;
}

.container{
    width: 100%; 
    text-align: center;
}

img{
    width: 100%;
}

.info{
    display: flex; 
    justify-content: space-evenly;
    padding: .5em 3em .5em 3em;
    color: white;
    text-align: left;
    margin: 1em 5em 1em 5em;
}

.contact{
    color: white;
    background-image: url(img/backservis.png);
    background-size: cover;
    padding: 1em;
    color: white;
    font-size: 0.8em;
}

.info img{
    width: 50px;
    padding: 20px;
}

.servis{
    display: flex;   
    justify-content: space-evenly;
    color: white;
    text-align: left;
    max-width: 960px;
}

.servis img{
    width: 50px;
}

.servis1{
    text-align: center;
    margin: 20px;
}

#studen{
    color: grey;
    font-size: 0.5em;
}
#tekan{
    color: white;
}

.design{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.kotak{
    padding:10px;
    margin: 5px;
    width: 120px;
    background-color: rgb(255, 220, 0);
    border-radius: 10px;
    color: rgb(27, 27, 61);
    max-height: 300px;
    font-size: 1em;
}

#pilih1{
    background-color: rgb(255, 220, 0);
    padding: 10px;
    color: rgb(27, 27, 61);
    font-size: 2em;
}

.kotak2{
    padding:10px;
    margin: 10px;
    background-color: rgb(0, 140, 255);
    color: rgb(27, 27, 61);
    border-radius: 10px;
}

#pilih2{
    background-color: rgb(0, 140, 255);
    color: rgb(27, 27, 61);
    font-size: 2em;
}

.kotak3{
    padding:10px;
    margin: 10px;
    background-color: rgb(0, 190, 32);
    color: rgb(27, 27, 61);
    border-radius: 10px;
}

#pilih3{
    background-color: rgb(0, 190, 32);
    color: rgb(27, 27, 61);
    font-size: 2em;

}

.footer{
    background-color: rgb(26, 26, 26);
    overflow: hidden;
    color: white;
    padding: 20px 0 0 0;
    text-align: center;
    height: 50px;
    margin: 50px 0 0 0;
}

.beri{
    padding: 50px;
}

.kotak h3{
    font-size: 1em;
    font-weight: bolder;
    
}
 
}

#studen{
    margin: 50px;
    font-size: 1em;
}


#klik{
    color: white;
}