body{
    background-color:#d4e6fc ;
    margin: 0%;
    padding: 0%;
}
.header{
    height: 350px;
    background-image: url("img/header.png");
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;

}

.social {
    text-align: center;
    top: 0%;
    margin: -80px 60px 0 20px;
}

.social li {
    list-style: none;
    margin: 0 5px 0 5px;
    padding: 10px;
    display: inline-block;
    font-size: 20px;
    border: 2px solid #5670ff;
    border-radius: 50%;
}

.social a{
    color:  #5670ff;
}

