body{
    background-color:#d4e6fc ;
    margin: 0%;
    padding: 0%;
}
.header{
    height: 350px;
    background-image: url("img/header.png");
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;

}

.ws {
    background-color:  #5670ff;
    width: 80px;
}

.ws i{
    color: white;
}


.social {
    text-align: center;
    top: 0%;
    margin: -80px 30px 0 0px;
    margin-bottom: 50px;
}

.social li {
    list-style: none;
    margin: 0 5px 0 5px;
    padding: 5px;
    display: inline-block;
    font-size: 20px;
    border: 2px solid #5670ff;
    border-radius: 10px;
}

.social a{
    color:  #5670ff;
}

.feed{
    display: flex;
    flex-direction: column;
}
.feed h1{
    text-align: center;
    color: grey;
    font-family: sans-serif;
    font-weight: light;
}
.box1{
    width: 100%;
    height: 300px;
    background-color: whitesmoke;
    margin-bottom: 20px;
}
.box2{
    width: 100%;
    height: 300px;
    background-color: whitesmoke;
    margin-bottom: 20px;
}
.box3{
    width: 100%;
    height: 300px;
    background-color: whitesmoke;
    margin-bottom: 20px;
}

h3{
    color: white;
    font-family: sans-serif;
    text-align: center;
}


